* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  background: rgb(0, 0, 0);
  padding: 4rem;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}

.widget {
  list-style: none;
  background: rgb(0, 183, 255);
  border-radius: 1rem;
  box-shadow: black;
  padding: 4rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.widget>h2 {
  font-size: 4rem;
  color: white;
}

.widget>p {
  font-size: 2rem;
  color: white;
}

.widget:nth-child(odd) {
  grid-row: span 2;
  grid-column: span 3;
}

.widget:nth-child(even) {
  grid-row: span 3;
  grid-column: span 2;
}

@media screen and (max-width: 87.5rem) {
  .widget:nth-child(odd) {
    grid-row: span 2;
    grid-column: span 6;
  }

  .widget:nth-child(even) {
    grid-row: span 3;
    grid-column: span 6;
  }
}

@media screen and (max-width: 62.5rem) {
  .widget {
    grid-row: auto;
    grid-column: auto;
  }
}